*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.header-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: sticky;
    top: 0;
    background-color: #8a2be2;
}

.nav-bar {
    display: flex;
    list-style: none;
    margin-left: 30vw;
}

.header-style {
    margin-left: 20%;
    font-size: 3vw;
}

.podcast-item {
    border: solid;
    padding: 2vw;
}



/* Actual Home Page Styling */
.actual-home {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #8a2be2;
    font-size: 6vh;
}    

.login-button  {
    border: none;
    background-color: white;
    padding: 2vh 6vw;
    border-radius: 10px;
    
}

.register-button {
    border: none;
    background-color: white;
    padding: 2vh 5vw;
    border-radius: 10px;
}

.explore-button {
    border: none;
    background-color: white;
    padding: 2vh 5vw;
    border-radius: 10px;
}

/* LOGIN PAGE */
.login-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #8a2be2;
    font-size: 6vh;   
}

.form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 0.5rem 0;
    padding: 1.5rem;
    border: none;
    border-radius: 10px;
}

.submit-login {
    border: none;
    background-color: white;
    padding: 2vh 5vw;
    border-radius: 10px;
    margin-top: 5vh;
}

.register-link {
    margin-top: 5vh;
    font-size: 3vh;
}

.login-header {
    margin-bottom: 8vh;
}






